<nav class="navbar">
  <a routerLink="" class="logo">
    <img src="assets/images/SephiaLargo.png" alt="Sephia logo">
  </a>

  <ul class="nav-links">

    <li><a routerLink="/historia">Historia</a></li>
    <li><a routerLink="/equipo">Equipo</a></li>
    <li class="dropdown">
      <a href="#">Proyectos ▾</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/dron">Dron</a></li>
        <li><a routerLink="/datos">Datos</a></li>
        <li><a routerLink="/agricultura">Agricultura</a></li>
        <li><a routerLink="/burrito">Burrito</a></li>
        <li><a routerLink="/fertirriego">Fertirriego</a></li>
        <li><a routerLink="/caja">Caja</a></li>
      </ul>
    </li>

    
    <li><a routerLink="/noticias">Noticias</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>
</nav>