<nav class="navbar">
  <a routerLink="" class="logo">
    <img src="assets/images/sephiaFP.jpeg" alt="Sephia logo">
    <span>Sephia</span>
  </a>

  <ul class="nav-links">
    <li><a routerLink="">Inicio</a></li>

    <li class="dropdown">
      <a href="#">Proyectos ▾</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/dron">Dron</a></li>
        <li><a routerLink="/datos">Datos</a></li>
        <li><a routerLink="/agricultura">Agricultura</a></li>
        <li><a routerLink="/burrito">Burrito</a></li>
        <li><a routerLink="/fertirriego">Fertirriego</a></li>
        <li><a routerLink="/caja">Caja</a></li>
      </ul>
    </li>
  </ul>
</nav>