<nav class="navbar">
  <a routerLink="" class="logo">
    <img src="assets/images/SephiaLargo.png" alt="Sephia logo">
  </a>

  <button
    class="hamburger"
    type="button"
    aria-label="Abrir menú"
    [attr.aria-expanded]="menuOpen"
    (click)="toggleMenu()"
    [class.active]="menuOpen"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <ul class="nav-links" [class.open]="menuOpen" [attr.aria-hidden]="!menuOpen">
    <li><a routerLink="/historia" (click)="closeMenu()">Historia</a></li>
    <li><a routerLink="/equipo" (click)="closeMenu()">Equipo</a></li>
    <li class="dropdown" [class.active]="projectsOpen">
      <a href="#" (click)="toggleProjects($event)">Proyectos ▾</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/dron" (click)="closeMenu()">Dron</a></li>
        <li><a routerLink="/datos" (click)="closeMenu()">Datos</a></li>
        <li><a routerLink="/agricultura" (click)="closeMenu()">Agricultura</a></li>
        <li><a routerLink="/burrito" (click)="closeMenu()">Burrito</a></li>
        <li><a routerLink="/fertirriego" (click)="closeMenu()">Fertirriego</a></li>
        <li><a routerLink="/caja" (click)="closeMenu()">Caja</a></li>
      </ul>
    </li>
    <li><a routerLink="/" fragment="aplicar" (click)="closeMenu()">Aplicar</a></li>
    <li><a routerLink="/noticias" (click)="closeMenu()">Noticias</a></li>
    <li><a routerLink="/contacto" (click)="closeMenu()">Contacto</a></li>
  </ul>
</nav>
