<div class="home-container">

  <!-- Imagen superior -->
  <div class="hero-image">
    <img src="assets/images/Hidroponia.jpeg" alt="Imagen principal">
  </div>

  <!-- Texto central -->
  <div class="home-text">
    
    <p>
      En primer lugar, estamos diseñando un sistema de riego automatizado para un estudiante de maestría que está trabajando con GHT. Además del sistema de riego, diseñaremos un sistema XYZ que toma fotografías de los claveles y, mediante un modelo, determina el número de tallos que crecen en cada planta, con el fin de que puedan sacar conclusiones sobre los diferentes sustratos que van a utilizar. 
    </p>
    <p>
      El segundo proyecto se llama Burrito: es un rover alimentado con energía solar, diseñado para el monitoreo ambiental y la alerta temprana en cultivos colombianos (en este caso: maíz, yuca y frijol). Desde SEPHIA estamos a cargo del diseño e implementación de la dinámica del sistema, incluyendo la sensórica, el control y los componentes mecánicos necesarios para su funcionamiento. Este proyecto se desarrolla en conjunto con EDS, un capítulo de IEEE. 
    </p>
  </div>

  <!-- Imagen inferior -->
  <div class="bottom-image">
    <img src="assets/images/imagen2.jpeg" alt="Imagen secundaria">
  </div>

</div>